<div class ="body3">
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Blog Approval Form:</h5>
				
				<div class="panel panel-info">
<div class="panel-heading">
{{blog.blogTitle}}<br>
<b>posted On:</b> {{blog.postedOn | date:'medium'}}<br>
<b>Posted By:</b>{{blog.postedBy.firstname}}&nbsp;{{blog.postedBy.lastname}}
</div>
<div class="panel-body">
<p ng-bind-html="content"></p>
</div>
</div>
<button class="btn btn-primary btn-lg btn-block login-button">Approve</button> &nbsp; <button class="btn btn-danger btn-lg btn-block login-button">Reject</button>

</div></div></div></div>	