<!DOCTYPE html>
<html lang="en">
<head>
<title>Job List</title>
	</head>
	<body>
	<div class ="body2">
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h3>Job List:</h3>

<b>Search</b><input type="text" ng-modek="searcgTxt"><br>
<div>
<br>
<div class="row" style="width:200px">
<div ng-repeat="job in jobs | filter:searchTxt | orderBy:'-postedOn'">
		 <div class="panel panel-info">
				      <div class="panel-heading"><a href="#/getjob/{{job.id}}">{{job.jobTitle}}</a></div><br>
				  	<div class="panel-body">
				  <b>Posted On</b>{{job.postedOn | date:'medium'}}<br>
				  <b>Skills Required</b>{{job.skillsRequired}}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>